html(lang="en")
    head
        title Art
        script(type='text/javascript', src='/like.js')
        script(type='text/javascript', src='/unlike.js')
        script(type='text/javascript', src='/review.js')
        script(type='text/javascript', src='/r_review.js')

    body  
        include ../partials/headers

        h1 #{art.name} 

        | by:
        a(href=`/artist/${artist._id}`) #{artist.username}
        br
        img(src=`${art.image}`, width="400", height="500")
        br
        for elem1 in user.like
            if elem1.name == art.name 
                button(id=`unlike${i}` value=`${art._id}` onclick=`unlike(${i})`) ❤️
                a #{art.numLikes.length}
        - x = 0
        for elem1 in user.like
            if elem1.name == art.name
                - x++
        
        if x == 0
            button(id=`like${i}` value=`${art._id}` onclick=`like(${i})`) 🤍
            a #{art.numLikes.length}
                
        a   year: #{art.year}, medium: #{art.medium}, Category: #{art.category}
        br
        a Description: #{art.description}

        br
        p Reviews:
        for elem2 in art.reviews
            | user:
            a(href=`/artist/${elem2.userId}`) #{elem2.user}
            br
            if elem2.user == user.username
                button(id="rReview", type='button', onclick=`remove_Review("${elem2.review}", "${i}")`) X
            a #{elem2.review}
            br
            br
        br
        if art.artist != user.username
            input(id=`rInput${i}` type="textbox")
            button(id=`rSubmit${i}` type="button" onclick=`addreview(${i})`) submit


        input(id=`yes${i}` type="textbox", value=`${art._id}`, style="display:none")
        - i++;