html(lang="en")
    head
        title Art
        link(rel="stylesheet", href="/styles.css")
        script(type='text/javascript', src='/like.js')
        script(type='text/javascript', src='/unlike.js')
        script(type='text/javascript', src='/review.js')
        script(type='text/javascript', src='/r_review.js')
    body
        include ../partials/headers

        .main-container
            h1 #{art.name}

            p By:
            a(href=`/artist/${artist._id}`) #{artist.username}

            img(src=`${art.image}`, width="400", height="500")

            - let foundLike = false
            if user && user.like
                each elem1 in user.like
                    if elem1.name == art.name
                        - foundLike = true

            if foundLike
                button(id=`unlike${i}`, value=`${art._id}`, onclick=`unlike(${i})`) ♥
                span #{art.numLikes.length}
            else
                button(id=`like${i}`, value=`${art._id}`, onclick=`like(${i})`) ♡
                span #{art.numLikes.length}

            p Year: #{art.year}, Medium: #{art.medium}, Category: #{art.category}
            p Description: #{art.description}

            br
            h2 Reviews:
            if art.reviews && art.reviews.length
                each elem2 in art.reviews
                    | User:
                    a(href=`/artist/${elem2.userId}`) #{elem2.user}
                    br
                    if elem2.user == user.username
                        button(id="rReview", type='button', onclick=`remove_Review("${elem2.review}", "${i}")`) X
                    a #{elem2.review}
                    br
                    br

            if art.artist != user.username
                input(id=`rInput${i}`, type="textbox")
                button(id=`rSubmit${i}`, type="button", onclick=`addreview(${i})`) Submit

            input(id=`yes${i}`, type="textbox", value=`${art._id}`, style="display:none")
            - i++
